*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contenedor{
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(azulturquesa.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor .caja{
  height: 86vh;
  width: 75%;
  padding: 0 20px;
  background-color: rgba(255, 255, 255,0.1);
  z-index: 10;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  backdrop-filter: blur(25px);
  box-shadow: -15px 17px rgba(10, 10, 10, 0.15);
}

.contenedor nav{
  height: 7%;
  width: 90%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
  padding: 20px;
}

.contenedor .logo{
  font-size: 30px;
  font-weight: 700;
  text-decoration: #000;
  margin-left: 30px;
}

.contenedor .logo ::first-letter{
  color: #6f34fe;
  font-size: 60px;
}

.contenedor nav ul li{
  display: inline-block;
  padding: 0 20px;
}

.contenedor nav ul li a{
  text-decoration: none;
  font-size: 18px;
  color: #000;
  transition: 0.3s;
}

.contenedor nav ul li a:hover{
  color: #6f34fe;
}

.contenedor-2{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8%;
  padding-left: 8%;
}

.contenedor-2 .seccion-1{
  position: relative;
  width: 40%;
}

.contenedor-2 .seccion-1 h1{
  margin-bottom: 20px;
  font-size: 60%;
  font-weight: 700;
  color: #000;
}

.contenedor-2 .seccion-1 p{
  font-size: 15px;
  color: #505052;
  margin-bottom: 50px;
}

.contenedor-2 .btm{
  padding: 15px 20px;
  border-radius: 5%;
  background-color: #6f34fe;
  border: #6f34fe;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}

.contenedor-2 .btm :hover{
  background-color: #fff;
  color: #6f34fe;
}

.contenedor-2 .seccion2{
  width: 60%;
  position: relative;
}

.contenedor-2 .seccion2 ::after{
  content: '';
  position: absolute;
  background-color: #6f34fe;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  z-index: -1;
  top: 20%;
  left: 24%;
}

.contenedor-2 .seccion2 img{
  width: 100%;
}

